<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Habit Tracker</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
    </head>
    <body>
        
            <div class = "headerclass">
                <nav class = "left_nav">
                    <button class = "btn" id = "homeBtn" onclick = "GoHome()">Home</button>
                    <button class = "btn" id = "aboutBtn" onclick = "GoAbout()">About</button>
                    <button class = "btn" id = "customBtn" onclick = "GoCustomization()">Customization</button>
                    <button class = "btn" id = "chatBtn" onclick = "GoChat()">Chat</button>
                </nav>
            </div>
            <hr>
            <div class = "habitsTracker">
                <nav class = "toolbar">
                    <button class = "btn" id = "addHabitBtn" onclick = "AddHabit()">+</button>
                    <button class = "btn" id = "viewStatsBtn" onclick = "ViewStats()">👁️</button>
                </nav>
                <div class = "habitList" id = "habitList">
                    <!-- Habit items will be dynamically added here -->
                </div>
            </div>

        <script type = "module"src = "../static/js/habitpage.js"></script>
    </body>
</html>