<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Habit Tracker</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        
            <div class = "headerclass">
                <nav class = "left_nav">
                    <button class = "btn" id = "homeBtn" onclick = "GoHome()">Home</button>
                    <button class = "btn" id = "aboutBtn" onclick = "GoAbout()">About</button>
                    <button class = "btn" id = "customBtn" onclick = "GoCustomization()">Customization</button>
                    <button class = "btn" id = "chatBtn" onclick = "GoChat()">Chat</button>
                </nav>
                <nav class = "right_nav"><button class = "btn" id = "loginBtn" onclick = "Login()">Login</button>
                <button class = "btn" id = "signupBtn" onclick = "SignUp()">Sign Up</button></nav>
                
            </div>
            <hr>
            <div class = "mainClass">
                <div class = "textClass"> 
                    <h1>Welcome to</h1>
                    <h1>Habit Tracker</h1>
                        <hr>
                    <h4>Track your habits and improve your life!</h4>
                </div>
                <div class = "buttons">
                    <button  id = "GetStartedBtn" onclick = "GetStarted()">Get Started</button>
                    </div>
            </div>
            <div class = "footerClass">
                <hr>
                <h4>© 2024 Habit Tracker. All rights reserved.</h4>
            </div>
        
        <script src = "../static/js/homepage.js"></script>
    </body>
</html>